body {
    margin: 0;
    background-color: black;
    height: 100vh;
    color: white;
}
#container {
    border: 1px solid grey;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item {
    width: 100px;
    height: 50px;
    border: 1px solid white;
}
.item:nth-child(even) {
    background-color: rgb(56, 55, 53);
}
h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 50%;
    color: black;
    transition-property: color;
    transition-duration: 5s;
    transition-delay: 4s;
}

/*  ANIMATION RELATED BELOW */


/*  TRANSITIONS  */

/* base class */
.item-1 {
    background-color: blue;

    /* LONG FORM */

    /* specify a property to watch for changes */
    /* transition-property: background-color; */

    /* how long your transition will take */
    /* transition-duration: 2s;    500ms or less is better */
    
    /* how your transition will progress thru time */
    /* transition-timing-function: ease; */

    /* how long to wait before starting your transition */
    /* transition-delay: 5s; */

    /* SHORTHAND */

    transition: background-color 2s ease-in;
    /*      <property> <duration> <timing-function> <delay> */
}

/* modifying class */
.item-1:hover {     /* hover pseudo class */
    background-color: red;

}


/* TRANSFORM PROPERTY */

.item-2 {
    transition: transform 500ms ease-in;
}

.item-2:hover {
    transform: translate(50px);
}

.item-3 {
    transition: transform 500ms ease-in;
}

.item-3:hover {
    transform: rotate(30deg);
}


/* ANIMATION PROPERTY */

.item-4:hover {
    /* LONG FORM */
    animation-name: growingtaller;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
    animation-delay: 100ms;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;

    /* for pausing or playing the animation */
    /* animation-play-state: paused; */

    /* SHORT HAND */
    /* animation: growingtaller 500ms ease-in-out 100ms; */
}

@keyframes growingtaller {
    /* put our steps here */

    /* from {
        height: 50px;
    } 
    to {
        height: 500px;
    } */


    0% {
        height: 50px;
    }
    50% {
        height: 100px;
    }
    75% {
        height: 150px;
    }
    100% {
        height: 500px;
    }
}