body {
    background-color: peachpuff;
    color: rgb(194, 66, 194);
    font-family: Arial, Helvetica, sans-serif;
}

#top {
    background-color: rgb(138, 190, 114);
    height: 30px;
    color: rgb(165, 15, 165);
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
}

a {
    color: rgb(100, 168, 100);
    text-decoration: none;
}

a:visited {
    color: rgb(165, 15, 165);;
}

#fruit-index {
    color: rgb(240, 0, 120);
    font-size: 20px;
}